@font-face {
	font-family: "Myriad Pro";
	src: url("/assets/fonts/MYRIADPRO-BOLD.OTF");
	font-weight: 700;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("/assets/fonts/MyriadPro-Light.otf");
	font-weight: 400;
}

@font-face {
	font-family: "Myriad Pro";
	src: url("/assets/fonts/MYRIADPRO-REGULAR.OTF");
	font-weight: 200;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.first-run {
	display: grid;
	align-items: center;
	justify-items: center;

	position: fixed;

	width: 100%;
	height: 100%;

	background: rgba(44, 59, 72, 0.7);

	z-index: 1;
}

.domofon-position-block {
	width: 580px;
	height: 296px;

	background: #FFFFFF;
	border-radius: 16px;

	font-family: 'Myriad Pro';
	font-style: normal;

	position: relative;

	user-select: none;
}

.domofon-position-block .question {
	margin: 52px 0px 0px 60px;

	font-weight: 600;
	font-size: 24px;

	color: rgba(44, 59, 72, 0.8);

	opacity: 0.8;
}

.domofon-position-block .city {
	margin: 0px 0px 0px 60px;

	font-weight: 700;
	font-size: 44px;
	
	color: #2C3B48;
}

.domofon-position-block .choise {
	margin: 30px 0px 0px 70px;
}

.domofon-position-block .choise .yes-button {
	background: #1579D3;
	border-radius: 12px;
	border: 2px solid #1579D3;

	width: 199px;
	height: 70px;

	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

	font-weight: 600;
	font-size: 18px;

	cursor: pointer;
}

.domofon-position-block .choise .change-city {
	background: #fff;
	border: 2px solid #1579D3;
	border-radius: 8px;

	width: 231px;
	height: 70px;

	text-align: center;
	text-transform: uppercase;

	color: #1579D3;

	font-weight: 600;
	font-size: 18px;

	cursor: pointer;
}

.domofon-position-block .close-btn {
	position: absolute;

	width: 36px;
	height: 36px;
	left: 524px;
	top: 20px;

	cursor: pointer;
}

.header {
	width: 100%;
	display: grid;
	padding: 20px 0px 20px 0px;
	background: #2C3B48;
	color: #FFF;
	font-family: "Myriad Pro";
	font-size: 18px;
	user-select: none;
}

.header-container {
	display: grid;
	width: 100%;
	justify-self: center;
	grid-template-columns: 1fr auto;
}

.nav-logo {
	display: grid;
	gap: 10px;
	align-items: center;
	border-bottom: 1px solid #FFF;
	grid-template-columns: auto minmax(0, 2vw) auto auto auto minmax(max-content, 10vw) auto auto auto;
	justify-content: space-between;
	grid-column: 1 / span 2;
}

.nav-logo .logo {
    height: 40px;
}

.nav-logo .logo svg {
    height: 100%;
}

.nav-logo .categories {
    display: contents;
}

.nav-logo .categories > div {
	padding: 20px 0;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}

.categories .abonents {
	grid-column: 3;
}
.categories .client {
	grid-column: 4;
}
.categories .company {
	grid-column: 5;
}
.categories .control-company {
	grid-column: 7;
}
.categories .office {
	grid-column: 8;
}
.categories .city {
	display: grid;
	grid-auto-flow: column;
	grid-column: 9;
	align-items: center;
	gap: 8px;
	font-weight: 700;
}

.categories .city svg {
	width: 24px;
	height: 24px;
}

.categories .selected {
	font-weight: 700;
	position: relative;
}

.categories .selected::after {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80%;
	transform: translateX(-50%);
	content: "";
	border-bottom: 1.5px solid #fff;
	pointer-events: none;
}

.nav-links {
	display: grid;
	grid-auto-flow: column;
	height: 60px;
	line-height: 60px;
	justify-content: start;
	gap: 10px;
	font-size: 24px;
}

.nav-links > div {
	display: none;
}

.nav-links > .selected {
	display: contents;
}

.nav-links > .selected > div {
	cursor: pointer;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
}

.nav-links > .selected > div:first-child {
	padding: 0 10px 0 0;
}

.profile {
	display: grid;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
	padding: 0 0 0 10px;
	font-size: 24px;
	grid-auto-flow: column;
	gap: 8px;
	align-items: center;
	white-space: nowrap;
}

.profile svg {
	width: 24px;
	height: 24px;
}

.content {
	display: grid;
}

.banner-wrapper {
    display: grid;
}

.slider-mask {
	display: grid;
	justify-self: center;

	height: 100%;

	overflow-x: hidden;
}

.banner {
	display: grid;
	grid-auto-flow: row;

	background: linear-gradient(73.43deg, #1579D3 12.84%, #3495ED 54.14%, #47A3F5 77.84%);
	border-radius: 50px;
	width: 1280px;
	height: 517px;
	justify-self: center;
	margin: 130px 0;
	color: #FFF;
	font-family: "Myriad Pro";

	position: relative;
}



.slider {
	display: none;
    grid-auto-flow: column;

	position: absolute;
}

.banner .slider.selected {
    display: grid;
}

.banner .slider.slide-in {
	animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.banner .slider.slide-out {
	animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

.ui-buy {
    display: grid;
    width: 60%;
    margin: 30px 60px;
}

.text-buy h1 {
	font-size: 64px;
}

.text-buy h2 {
	font-size: 32px;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.8);
}

.button-buy {
	display: grid;
	align-items: center;
	justify-items: center;
	background: linear-gradient(86.94deg, #7D0A99 -1.18%, #9818B7 99.29%);
	border-radius: 24px;
	width: 389px;
	height: 86px;
	font-size: 18px;
	line-height: 22px;
	cursor: pointer;
}

.foto-buy {
	background-image: url('/assets/imgs/mobile.png');
	background-size: cover;

	width: 612.52px;
	height: 599px;

	position: absolute;
	left: 450px;
	top: -53px;
}

.circles {
	display: grid;
	grid-template-columns: 1fr auto auto auto 1fr;
	justify-items: center;
	align-items: end;
	gap: 10px;

	margin-bottom: 50px;
}

.circles > div {
	width: 13px;
	height: 13px;
	background-color: #fff;
	border-radius: 50%;
	opacity: 0.5;
	cursor: pointer;
}

.circles > div:nth-of-type(1) {
	grid-column: 2;
}


.circles > div:nth-of-type(2) {
	grid-column: 3;
}


.circles > div:nth-of-type(3) {
	grid-column: 4;
}

.circles .selected {
	opacity: 1;
}

.service-wrapper {
	display: grid;
}

.service {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-family: "Myriad Pro";
	width: 1280px;
	justify-self: center;
}

.service .block {
	display: grid;
	grid-auto-flow: row;

	background: #FFFFFF;
	box-shadow: 0px 5px 12px rgba(14, 81, 141, 0.15);
	border-radius: 16px;

	padding: 20px 20px;
}

.service .block .title {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: start;
	width: 80%;
	font-size: 18px;
	font-weight: 600;
	color: #064288;
	gap: 10px;
}

.service .block .description {
	color: rgba(44, 59, 72, 0.8);
	font-size: 16px;
	width: 100%;
	padding: 10px 0 0 0;
}

.service .block p {
	margin: 0;
}

.service .details-link {
	display: grid;
	grid-auto-flow: column;
	justify-self: end;
	align-self: end;
	gap: 10px;
	font-weight: 600;
	color: #1579D3;
	padding: 20px 0 0 0;
	cursor: pointer;
}

.facts {
	margin: 100px 0;

	background-image: url('/assets/imgs/facts.png');
	background-size: cover;
	width: 1280px;
	height: 295px;

	display: grid;
	justify-self: center;
}

.facts img {
	width: 100%;
	object-fit: scale-down;
}

.news-wrapper {
	display: grid;
	grid-auto-flow: column;
	justify-self: center;

	width: 1280px;

	font-family: "Myriad Pro";
}

.city-foto {
	width: 500px;
	align-self: end;
}

.city-foto img {
	width: 100%;
}

.news-wrapper .title {
	font-size: 64px;
	font-weight: 700;

	color: #2C3B48;

	margin-bottom: 50px;
}

.news-wrapper .title p {
	margin: 0;
}

.news-wrapper .news {
	display: grid;
	grid-auto-flow: row;
	gap: 32px;
}

.news-wrapper .news .topic {
	background: #FFFFFF;
	box-shadow: 0px 7px 20px rgba(13, 81, 141, 0.08);
	border-radius: 16px;

	padding: 24px 0px 24px 24px;
}

.news-wrapper .news .topic > div {
	width: 70%;
}

.news-wrapper .news .topic .date-topic {
	color: rgba(44, 59, 72, 0.8);
	font-weight: 400;
	font-size: 14px;
}

.news-wrapper .news .topic .title-topic {
	color: #064288;
	font-weight: 600;
	font-size: 20px;
}

.news-wrapper .news .topic .description-topic {
	color: rgba(44, 59, 72, 0.8);
	font-weight: 400;
	font-size: 16px;
}

.news-wrapper .details-link {
	display: grid;
	grid-template-columns: auto auto 1fr;
	justify-self: start;
	align-items: center;
	cursor: pointer;
	color: #1579D3;
	font-weight: 700;
	font-size: 16px;
	margin: 50px 0 0 0px;
	gap: 10px;
}

.mobile-app-wrapper {
	display: grid;
	width: 100%;
}

.mobile-app {
	margin: 50px 0;
	width: 1280px;

	display: grid;
	grid-auto-flow: column;

	justify-self: center;

	background: linear-gradient(289.59deg, #C4C4C4 24.24%, #F7F7F7 80.42%);
	border-radius: 24px;
}

.mobile-app .info {
	display: grid;
	grid-auto-flow: row;
	font-family: "Myriad Pro";

	padding: 50px 0 0 70px;
}

.mobile-app .info .title {
	font-weight: 700;
	font-size: 54px;
	color: #1579D3;
}

.mobile-app .info .description {
	font-weight: 400;
	font-size: 32px;
	color: rgba(44, 59, 72, 0.8);
}

.mobile-app .info .buttons {
	display: grid;
	grid-template-columns: auto auto 1fr;
	gap: 15px;
}

.mobile-app .info .buttons > div {
	cursor: pointer;
}

.mobile-app .phone {
	display: grid;
	justify-self: end;
	align-self: end;
	margin: 80px 40px 0px 0px;
}

.mobile-app .phone img {
	width: 100%;
	object-fit: scale-down;
}

.partners-wrapper {
	display: grid;
	width: 100%;
}

.partners-wrapper .partners {
	display: grid;
	grid-auto-flow: row;
	justify-self: center;

	width: 1280px;

	margin: 50px 0;
}

.partners .title-topic {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;

	color: #2C3B48;

	padding-bottom: 60px;
}

.partners .offers {
	display: grid;
	grid-auto-flow: column;
}

.partners .offers .offer {
	background: #FFFFFF;
	box-shadow: 0px 5px 12px rgba(14, 81, 141, 0.15);
	border-radius: 16px;

	width: 400px;
}

.partners .offers .offer .preview {
	background-image: url('/assets/imgs/partners.png');
	background-size: cover;
	width: 400px;
	height: 303px;
}

.partners .offers .offer .title {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	padding: 48px 20px 20px 24px;
	color: #2C3B48;
}

.partners .offers .offer .description {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding: 24px;
	color: rgba(44, 59, 72, 0.8);
}

.events-wrapper {
	display: grid;
	grid-auto-flow: row;

	background: #F8F8F8;

	padding-top: 90px;
}

.events {
	display: grid;
	grid-auto-flow: row;
	justify-self: center;

	width: 1280px;
}

.events .event-blocks {
	display: grid;
	grid-auto-flow: column;
	gap: 40px;

	margin-bottom: 40px;
}

.events .event-blocks .event-block {
	background: #FFFFFF;
	border-radius: 24px;
	
	padding: 32px 24px 50px 32px;
}

.events .title-topic {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;

	color: #2C3B48;

	margin-bottom: 60px;
}

.events .event-blocks .event-block .date {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;

	color: rgba(44, 59, 72, 0.8);

	margin-bottom: 8px;
}

.events .event-blocks .event-block .title {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;

	color: #064288;

	margin-bottom: 8px;
}

.events .event-blocks .event-block .substance {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	color: rgba(44, 59, 72, 0.8);
}

.events .all-events-link {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	color: #1579D3;

	display: grid;
	grid-auto-flow: column;
	justify-self: end;
	align-items: center;
	gap: 10px;

	cursor: pointer;

	margin-bottom: 90px;
}

.footer {
	background: #2C3B48;

	color: #FFFFFF;
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	display: grid;
}

.footer-container {
	max-width: 1280px;
	width: 100%;

	display: grid;
	justify-self: center;
	grid-auto-flow: row;

	margin-top: 60px;

	position: relative;
}

.navigation {
	display: grid;
	grid-template-columns: auto 0px auto auto auto auto;
	justify-content: space-between;
}

.navigation .phone-number {
	font-weight: 600;
	font-size: 20px;
}

.navigation .hours {
	font-weight: 400;
	font-size: 16px;

	opacity: 0.8;
}

.navigation .social-networks {
	display: grid;
	grid-auto-flow: column;

	margin: 28px 0;

	user-select: none;
}

.navigation .social-networks > div {
	cursor: pointer;
}

.navigation .links {
	display: grid;
	align-content: start;

	gap: 14px;

	user-select: none;
}

.navigation .clients {
	grid-column: 3;
}

.navigation .links .title{
	font-weight: 600;
	font-size: 20px;

	opacity: 0.5;
}

.navigation .links > div:not(:first-child) {
	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	cursor: pointer;
}

.navigation .mailing {
	width: 290px;
	
	display: grid;
	align-content: start;
	gap: 12px;
}

.navigation .mailing > div {
	font-weight: 400;
	font-size: 18px;

	opacity: 0.8;
}

.navigation .mailing > input {
	background: #F8F8F8;
	border-radius: 8px;

	height: 66px;

	padding: 0px 40px;

	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;

	color: #2C3B48;
}

.navigation .mailing > button {
	background: #7D0A99;
	border-radius: 8px;
	border-color: #7D0A99;

	height: 66px;

	padding: 0px 40px;

	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;

	color: #FFFFFF;

	user-select: none;
}

.footer-container .under::before {
	display: block;
	position: absolute;
	left: 50%;
	top: -16px;
	width: 100%;
	transform: translateX(-50%);
	content: "";
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
	pointer-events: none;
}

.footer-container .under {
	display: grid;
	grid-template-columns: auto 1fr auto;

	font-family: 'Myriad Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	opacity: 0.5;

	margin: 91px 0 24px 0;

	position: relative;

	user-select: none;
}

.footer-container .under .politic-link {
	grid-column: 3;
}

.hidden {
	display: none;
}

@media (max-width: 770px) {
	.header-container {
		max-width: unset;
		width: calc(100% - 20px);
	}

	.nav-logo {
		grid-template-columns: auto auto auto auto auto auto auto auto auto;
		font-size: 12px;
	}

	.nav-links {
		font-size: 16px;
		gap: 0px;
	}

	.profile {
		font-size: 16px;
	}

	.ui-buy {
		width: 300px;
	}

	.button-buy {
		width: calc(389px / 2.5);
		height: calc(89px / 2.5);
		font-size: 10px;
	}

	.text-buy h1 {
		font-size: 24px;
	}
	
	.text-buy h2 {
		font-size: 12px;
	}

	.foto-buy {
		position: absolute;
		top: 225px;
		left: 400px;
	}
	
	.foto-buy .mobile {
		width: 70%;
	}

	.circles > div {
		width: 7px;
		height: 7px;
	}
}


@media (min-width: 771px) and (max-width: 1280px) {
	.header-container, .footer-container {
		max-width: 1150px;
		width: calc(100% - 40px);
	}

	.nav-logo {
		grid-template-columns: auto auto auto auto auto auto auto auto auto;
		font-size: 14px;
	}

	.nav-links {
		font-size: 18px;
		gap: 0px;
	}

	.profile {
		font-size: 18px;
	}

	.button-buy {
		width: calc(389px / 2);
		height: calc(89px / 2);
		font-size: 14px;
	}

	.text-buy h1 {
		font-size: calc(64px / 2);
	}
	
	.text-buy h2 {
		font-size: calc(32px / 2);
	}

	.service .block .title {
		font-size: 16px;
	}

	.service .block .description {
		font-size: 14px;
	}

	.service .block .details-link {
		font-size: 12px;
	}

	.news-wrapper .title, .events-wrapper .title-topic {
		font-size: 32px;
	}

	.city-foto {
		width: 400px;
	}

	.news-wrapper .news .topic .date-topic {
		font-size: 10px;
	}
	
	.news-wrapper .news .topic .title-topic {
		font-size: 12px;
	}
	
	.news-wrapper .news .topic .description-topic {
		font-size: 10px;
	}
	
	.news-wrapper .details-link {
		font-size: 10px;
	}

	.mobile-app .info .title {
		font-size: 32px;
	}
	
	.mobile-app .info .description {
		font-size: 20px;
	}

	.mobile-app .info .buttons > div {
		width: 140px;
	}

	.mobile-app .info .buttons svg {
		width: 100%;
	}

	.banner, .service, .news-wrapper, .mobile-app, .partners-wrapper .partners, .events-wrapper .events {
		width: calc(1280px / 1.5);
	}

	.banner {
		height: 322px;
	}

	.banner .circles {
		margin-bottom: 50px;
	}

	.foto-buy {
		width: calc(612.52px / 2);
		height: calc(599px / 2);

		left: 530px;
		top: -40px;
	}

	.facts {
		width: calc(1280px / 1.5);
		height: calc(295px / 1.5);
	}

	.partners-wrapper .partners .title-topic {
		font-size: 32px;
	}

	.partners-wrapper .partners .offers .offer {
		width: calc((1280px / 1.5) * 0.3125);
	}

	.partners .offers .offer .preview {
		width: 267px;
		height: 202px;
	}

	.events-wrapper .events .event-blocks .event-block .date {
		font-size: 12px;
	}

	.events-wrapper .events .event-blocks .event-block .title {
		font-size: 16px;
	}

	.events-wrapper .events .event-blocks .event-block .substance {
		font-size: 14px;
	}

	.events-wrapper .events .all-events-link {
		font-size: 14px;
	}

	@media (min-resolution: 120dpi) {
		.city-foto {
			width: 300px;
			align-self: center;
		}
	}
}

@media (min-width: 1281px) and (max-width: 1366px) {
	.header-container, .footer-container {
		max-width: 1150px;
		width: 100%;
	}

	.nav-logo {
		grid-template-columns: auto minmax(0, 2vw) auto auto auto minmax(max-content, 10vw) auto auto auto;
	}

	.button-buy {
		width: calc(389px / 1.5);
		height: calc(89px / 1.5);
		font-size: 14px;
	}

	.text-buy h1 {
		font-size: calc(64px / 1.5);
	}
	
	.text-buy h2 {
		font-size: calc(32px / 1.5);
	}

	.banner, .service, .news-wrapper, .mobile-app, .partners-wrapper .partners, .events-wrapper .events {
		width: calc(1280px / 1.5);
	}

	.banner {
		height: 388px;
	}

	.facts {
		width: calc(1280px / 1.5);
		height: calc(295px / 1.5);
	}

	.banner .circles {
		margin-bottom: 50px;
	}

	.service .block .title {
		font-size: 16px;
	}

	.service .block .description {
		font-size: 14px;
	}

	.news-wrapper .title, .events-wrapper .title-topic {
		font-size: 32px;
	}

	.city-foto {
		width: 400px;
	}

	.news-wrapper .news .topic .date-topic {
		font-size: 13px;
	}
	
	.news-wrapper .news .topic .title-topic {
		font-size: 15px;
	}
	
	.news-wrapper .news .topic .description-topic {
		font-size: 13px;
	}
	
	.news-wrapper .details-link {
		font-size: 13px;
	}

	.mobile-app .info .title {
		font-size: 32px;
	}
	
	.mobile-app .info .description {
		font-size: 20px;
	}

	.mobile-app .info .buttons > div {
		width: 140px;
	}

	.mobile-app .info .buttons svg {
		width: 100%;
	}

	.foto-buy {
		width: calc(612.52px / 1.5);
		height: calc(599px / 1.5);
	}

	.partners-wrapper .partners .title-topic {
		font-size: 32px;
	}

	.partners-wrapper .partners .offers .offer {
		width: calc((1280px / 1.5) * 0.3125);
	}

	.partners .offers .offer .preview {
		width: 267px;
		height: 202px;
	}

	.events-wrapper .events .event-blocks {
		gap: 10px;
	}

	.events-wrapper .events .event-blocks .event-block .date {
		font-size: 12px;
	}

	.events-wrapper .events .event-blocks .event-block .title {
		font-size: 16px;
	}

	.events-wrapper .events .event-blocks .event-block .substance {
		font-size: 14px;
	}

	.events-wrapper .events .all-events-link {
		font-size: 14px;
	}
}

@media (min-width: 1367px) and (max-width: 1920px) {
	.header-container {
		max-width: 1270px;
		width: 100%;
		font-size: 18px;
	}

	.foto-buy {
		left: 650px;
		top: -80px;
	}
}

@media (min-width: 1921px) and (max-width: 2560px) {
	.header-container, .footer-container {
		max-width: 1690px;
		width: 100%;
	}

	.nav-links {
		gap: 30px;
	}

	.ui-buy {
		width: 65%;
	}

	.button-buy {
		width: calc(389px * 1.5);
		height: calc(89px * 1.5);
		font-size: 30px;
	}

	.text-buy h1 {
		font-size: calc(64px * 1.5);
	}
	
	.text-buy h2 {
		font-size: calc(32px * 1.5);
	}

	.circles > div {
		width: 19px;
		height: 19px;
	}

	.service .block .title {
		font-size: 24px;
	}

	.service .block .description {
		font-size: 20px;
	}

	.service .block .details-link {
		font-size: 21px;
	}

	.news-wrapper .title, .events-wrapper .title-topic {
		font-size: calc(64px * 1.5);
	}

	.city-foto {
		width: 700px;
		align-self: center;
	}

	.news-wrapper .news .topic .date-topic {
		font-size: 22px;
	}
	
	.news-wrapper .news .topic .title-topic {
		font-size: 28px;
	}
	
	.news-wrapper .news .topic .description-topic {
		font-size: 22px;
	}
	
	.news-wrapper .details-link {
		font-size: 22px;
	}

	.news-wrapper .news .topic {
		padding: 32px 0px 32px 32px;
	}

	.mobile-app .info .title {
		font-size: calc(54px * 1.5);
	}
	
	.mobile-app .info .description {
		font-size: calc(32px * 1.5);
	}

	.banner, .service, .news-wrapper, .mobile-app, .partners-wrapper .partners, .events-wrapper .events {
		width: calc(1280px * 1.35);
	}

	.banner {
		height: 727px;
	}

	.facts {
		width: calc(1280px * 1.35);
		height: calc(295px * 1.35);
	}

	.partners-wrapper .partners .title-topic {
		font-size: 64px;
	}

	.partners-wrapper .partners .offers .offer {
		width: calc((1280px * 1.35) * 0.3125);
	}

	.partners .offers .offer .preview {
		width: 540px;
		height: 409px;
	}

	.partners .offers .offer .title {
		font-size: 32px;
	}

	.partners .offers .offer .description {
		font-size: 24px;
	}

	.foto-buy {
		width: calc(612.52px * 1.25);
		height: calc(599px * 1.25);
		left: 1000px;
		top: -100px;
	}

	.events-wrapper .events .event-blocks .event-block .date {
		font-size: 16px;
	}

	.events-wrapper .events .event-blocks .event-block .title {
		font-size: 24px;
	}

	.events-wrapper .events .event-blocks .event-block .substance {
		font-size: 18px;
	}

	.events-wrapper .events .all-events-link {
		font-size: 18px;
	}
}

@media (min-width: 2561px) and (max-width: 3840px) {
	.header-container, .footer-container {
		max-width: 1690px;
		width: 100%;
	}

	.nav-links {
		gap: 30px;
	}

	.button-buy {
		width: calc(389px * 1.5);
		height: calc(89px * 1.5);
		font-size: 25px;
	}

	.text-buy h1 {
		font-size: calc(64px * 1.2);
	}
	
	.text-buy h2 {
		font-size: calc(32px * 1.5);
	}

	.circles > div {
		width: 26px;
		height: 26px;
	}

	.service .block .title {
		font-size: 32px;
	}

	.service .block .title svg {
		width: 99px;
		height: 99px;
	}

	.service .block .description {
		font-size: 28px;
	}

	.service .block .details-link {
		font-size: 26px;
	}

	.news-wrapper .title, .events-wrapper .title-topic {
		font-size: calc(64px * 1.5);
	}

	.city-foto {
		width: 800px;
		align-self: center;
	}

	.news-wrapper .news .topic .date-topic {
		font-size: 24px;
	}
	
	.news-wrapper .news .topic .title-topic {
		font-size: 38px;
	}
	
	.news-wrapper .news .topic .description-topic {
		font-size: 30px;
	}
	
	.news-wrapper .details-link {
		font-size: 28px;
	}

	.news-wrapper .news .topic {
		padding: 48px 0px 48px 48px;
	}

	.mobile-app .info .title {
		font-size: calc(54px * 1.5);
	}
	
	.mobile-app .info .description {
		font-size: calc(32px * 1.5);
	}

	.mobile-app .info .buttons > div {
		width: calc(500px / 1.5);
	}

	.mobile-app .info .buttons svg {
		width: calc(512px / 1.5);
		height: calc(140px / 1.5);
	}

	.banner, .service, .news-wrapper, .mobile-app, .partners-wrapper .partners, .events-wrapper .events {
		width: calc(1280px * 1.35);
	}

	.banner {
		height: 660px;
	}

	.facts {
		width: calc(1280px * 1.35);
		height: calc(295px * 1.35);
	}

	.foto-buy {
		width: calc(612.52px * 1.25);
		height: calc(599px * 1.25);
		left: 1000px;
		top: -100px;
	}

	.partners-wrapper .partners .title-topic {
		font-size: 64px;
	}

	.partners-wrapper .partners .offers .offer {
		width: calc((1280px * 1.35) * 0.3125);
	}

	.partners .offers .offer .preview {
		width: 540px;
		height: 409px;
	}

	.partners .offers .offer .title {
		font-size: 32px;
	}

	.partners .offers .offer .description {
		font-size: 24px;
	}

	.events-wrapper .events .event-blocks .event-block .date {
		font-size: 20px;
	}

	.events-wrapper .events .event-blocks .event-block .title {
		font-size: 32px;
	}

	.events-wrapper .events .event-blocks .event-block .substance {
		font-size: 24px;
	}

	.events-wrapper .events .all-events-link {
		font-size: 24px;
	}
}

@media (min-width: 3841px) {
	.header-container, .footer-container {
		max-width: 1690px;
		width: 100%;
	}

	.nav-links {
		gap: 30px;
	}

	.button-buy {
		width: calc(389px * 1.5);
		height: calc(89px * 1.5);
		font-size: 22px;
	}

	.text-buy h1 {
		font-size: calc(64px * 1.2);
	}
	
	.text-buy h2 {
		font-size: calc(32px * 1.5);
	}

	.circles > div {
		width: 26px;
		height: 26px;
	}

	.service .block .title {
		font-size: 32px;
	}

	.service .block .title svg {
		width: 99px;
		height: 99px;
	}

	.service .block .description {
		font-size: 28px;
	}

	.service .block .details-link {
		font-size: 26px;
	}

	.news-wrapper .title, .events-wrapper .title-topic {
		font-size: calc(64px * 1.5);
	}

	.city-foto {
		width: 800px;
		align-self: center;
	}

	.news-wrapper .news .topic .date-topic {
		font-size: 24px;
	}
	
	.news-wrapper .news .topic .title-topic {
		font-size: 38px;
	}
	
	.news-wrapper .news .topic .description-topic {
		font-size: 30px;
	}
	
	.news-wrapper .details-link {
		font-size: 28px;
	}

	.news-wrapper .news .topic {
		padding: 48px 0px 48px 48px;
	}

	.mobile-app .info .title {
		font-size: calc(54px * 1.5);
	}
	
	.mobile-app .info .description {
		font-size: calc(32px * 1.5);
	}

	.mobile-app .info .buttons > div {
		width: calc(500px / 1.5);
	}

	.mobile-app .info .buttons svg {
		width: calc(512px / 1.5);
		height: calc(140px / 1.5);
	}

	.banner, .service, .news-wrapper, .mobile-app, .partners-wrapper .partners, .events-wrapper .events {
		width: calc(1280px * 1.35);
	}

	.banner {
		height: 660px;
	}

	.facts {
		width: calc(1280px * 1.35);
		height: calc(295px * 1.35);
	}

	.foto-buy {
		width: calc(612.52px * 1.25);
		height: calc(599px * 1.25);
		left: 1000px;
		top: -100px;
	}

	.partners-wrapper .partners .title-topic {
		font-size: 64px;
	}

	.partners-wrapper .partners .offers .offer {
		width: calc((1280px * 1.35) * 0.3125);
	}

	.partners .offers .offer .preview {
		width: 540px;
		height: 409px;
	}

	.partners .offers .offer .title {
		font-size: 32px;
	}

	.partners .offers .offer .description {
		font-size: 24px;
	}

	.events-wrapper .events .event-blocks .event-block .date {
		font-size: 20px;
	}

	.events-wrapper .events .event-blocks .event-block .title {
		font-size: 32px;
	}

	.events-wrapper .events .event-blocks .event-block .substance {
		font-size: 24px;
	}

	.events-wrapper .events .all-events-link {
		font-size: 24px;
	}
}

/* Animations */

@keyframes slide-in {
	0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
	0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
	100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
    100% { -webkit-transform: translateX(100%); }
}